[class*="content"]{
    background-color: blue;
    width: 100%;
    height: 50px;
    border: 1px solid white;
    padding: 10px;
}


.nested{
    background-color: green;
    height: 30px;
    padding-inline: 2px;
    border: 1px solid blue;
}

/* 
.content{
    text-align: center;
    font-size: 3em;
    color: white;
} */





